#create {
    -fx-background-image: url("/icons/class.png");
    -fx-background-size: 30px 30px;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #21487F;
    -fx-padding: 10 10;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;

}

.button-in-use{
    -fx-text-fill: white;
    -fx-background-color: #082C59;
}

#aDrawPane {
    -fx-background-color: #ffffff;
}

#aToolBar {
    -fx-background-color: #3F4144;
    -fx-alignment: center;
    -fx-padding: 10 10;
    -fx-spacing: 20;
}

#umlBox {
    -fx-spacing: 5;
    -fx-padding: 0 25 0 0;
}

#drawBox {
    -fx-spacing: 5;
    -fx-padding: 0 15 0 15;
}

#utilBox {
    -fx-spacing: 5;
    -fx-padding: 0 15 0 15;
}

#undoBox {
    -fx-spacing: 5;
    -fx-padding: 0 15 0 15;
}

#recognizeBox {
    -fx-spacing: 5;
    -fx-padding: 0 0 0 15;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}
